---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import { Reviews, type GuestbookEntry } from "../components/Reviews";
import Entries from "../components/Entries.astro";
import MessagePanel from "../components/MessagePanel";

const { data } = (await supabase
  .from("guestbook")
  .select("name, message, created_at, UID")
  .order("created_at", { ascending: false })
  .limit(30)) as { data: GuestbookEntry[] };
---

<Base title="Dashboard">
  <div class="bg-white/30 relative">
    <section class="py-16 px-4 w-full flex flex-col items-center gap-2">
      <span
        class="flex justify-center gap-x-2 max-w-prose text-xl no-underline text-indigo-600 dark:text-indigo-400 font-semibold"
      >
        {Astro.locals.email}
      </span>
      <div class="max-w-prose text-lg mb-2 dark:text-zinc-100">
        <Entries />
        <!-- <Entries uid={Astro.locals.uid} token={import.meta.env.SKY_API_TOKEN} client:idle /> -->
        <p></p>
      </div>
      <a
        href="/api/auth/signout"
        class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
        >Sign out</a
      >
      <Reviews reviews={data} uid={Astro.locals.uid} client:idle />
    </section>
    <MessagePanel
      client:idle
      from={Astro.locals.uid}
      to={import.meta.env.ADMIN_UID}
      admin={Astro.locals.admin}
    />
    <!-- <div class="sticky md:fixed bottom-0 right-0 py-10 flex flex-col">
      <MessageBox
        client:visible
        uid={Astro.locals.uid}
        setSelection={setSelection}
        selection={selection}
      />
      {
        Astro.locals.admin ? (
          <AdminTalk
            client:idle
            from={Astro.locals.uid}
            selection={selection}
          />
        ) : (
          <CustomerTalk
            client:idle
            from={Astro.locals.uid}
            owner={import.meta.env.ADMIN_UID}
          />
        )
      }
    </div> -->
  </div>
</Base>
