---
interface Props {
  title: string;
}

// import { supabase } from "../lib/supabase";

const description = "Sky for China stock market";
const { title } = Astro.props;
const ogImageURL = new URL("hero.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;

// if (Astro.locals.uid && Astro.locals.uid.length > 0 && Astro.locals.type < 0) {
//   const { data } = await supabase
//     .from("skyuser")
//     .select("type, name, phone, memo")
//     .eq("UID", Astro.locals.uid);

//   // console.log(data);

//   if (data && data.length > 0) {
//     Astro.locals.type = data[0]?.type;
//     Astro.locals.name = data[0]?.name;
//     Astro.locals.phone = data[0]?.phone;
//     Astro.locals.memo = data[0]?.memo;
//   }
// }
---

<html lang="en" class="h-full w-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body
    class="flex flex-col h-screen bg-[url(https://sky.azurewood.com/sky.jpeg)] bg-no-repeat bg-cover bg-center bg-fixed w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100"
  >
    <nav
      class="text-nowrap border-b bg-white dark:bg-zinc-800 dark:border-zinc-700"
    >
      <div
        class="flex items-center justify-end sm:justify-between p-4 max-w-screen-xl mx-auto"
      >
        <a
          href="/"
          class="text-nowrap w-full block hover:place-items-center font-semibold dark:text-white"
        >
          <img
            class="h-auto w-6 invert-0 brightness-150 transition-all duration-300 rounded-lg blur-none hover:invert"
            src="/hero.png"
            alt="Azure Fintech"
          />
        </a>
        <div>
          <ul class="text-nowrap font-medium flex items-baseline gap-8">
            <li>
              <a
                href="/dashboard"
                class="block text-zinc-900 dark:text-gray-200">Dashboard</a
              >
            </li>
            <li>
              <a href="/register" class="block text-zinc-900 dark:text-gray-200"
                >Register</a
              >
            </li>
            <li>
              <a
                href="/signin"
                class="block whitespace-nowrap text-zinc-900 dark:text-gray-200"
                >Sign&nbsp;in</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>

<!-- <style>
  html,
  body {
    height: 100%;
  }

  body {
    background-color: black;
  }
</style> -->

<!-- <script>
  function random(min: number, max: number) {
    return min + Math.random() * (max + 1 - min);
  }

  const body = document.querySelector("body");
  // console.log(body);
  if (body) {
    const canvasSize = body.offsetWidth * body.offsetHeight;
    const starsFraction = canvasSize / 4000;

    for (let i = 0; i < starsFraction; i++) {
      // Set up random elements
      let xPos = random(0, 100);
      let yPos = random(0, 100);
      let alpha = random(0.1, 0.9);
      let size = random(1, 2);
      let colour = "#ffffff";

      // Add them to the body
      const star = document.createElement("div");
      star.style.position = "fixed";
      star.style.left = xPos + "%";
      star.style.top = yPos + "%";
      star.style.opacity = alpha / 3 + "";
      // console.log(star.style.opacity)
      star.style.width = size + "px";
      star.style.height = size + "px";
      star.style.backgroundColor = colour;
      // console.log(star);
      star.style.filter = "blur(1px)";
      // star.style.webkitFilter="blur(1px)";
      document.body.appendChild(star);
    }
  }
</script> -->
